body {
    background: rgb(173, 5, 219);
    color: rgb(230, 234, 0);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(41, 54, 239);
   margin: 0 auto;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(0, 248, 4);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: ;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #03c246;
}

/* main container area beneath menu */
main {
    background: rgb(92, 9, 201);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(179, 14, 14) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
